<div class="alert alert-success form-inline">
    <a class="badge badge-info" href="/editar-doctor/0">Doctores<h4 class="btn btn-info col-md-2">+</h4></a>   
</div>
<br>
<div class="container col-md-10" style="scroll-behavior: smooth; scroll-margin-block-start:initial;">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <thead class="row">
                <td class="col-md-1" ><b>Codigo</b></td>
                <td class="col-md-2"><b>Nombre Completo</b></td>
                <td class="col-md-2"><b>Numero_Credencial</b></td>
                <td class="col-md-1"><b>Especialidad</b></td>
                <td class="col-md-2"><b>Hospital_Adscrito</b></td>
                <td class="col-md-4"><b>Opcion</b></td>                 
            </thead>
        </tr>
    </thead>
    <tbody>
        <tr class="row" *ngFor="let d of f" >
            <td class="col-md-1">{{d.Id_Doctor}}</td>
            <td class="col-md-2">{{d.Nombre_Completo}}</td>
            <td class="col-md-2">{{d.Numero_Credencial}}</td>
            <td class="col-md-1">{{d.Especialidad}}</td>
            <td class="col-md-2">{{d.Hospital_Adscrito}}</td>
            <td class="col-md-4">
                <a class="btn btn-info" routerLink="/editar-doctor/{{d.Id_Doctor}}">Editar</a>
                <button class="btn btn-warning" (click)="Eliminar(d.Id_Doctor)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>