<div id="app-container">
    <dx-item></dx-item>
    <dx-data-grid id="dataGrid"
      [dataSource]="_movimientos"
      keyExpr="idItem"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [allowColumnReordering]="true">
      <dxi-column dataField="idItem"></dxi-column>
      <dxi-column dataField="descripcion"></dxi-column>
      <dxi-column dataField="total"></dxi-column>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-summary>
        <dxi-group-item
          summaryType="count">
        </dxi-group-item>
      </dxo-summary>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true">
      </dxo-editing>
      <!-- <dxo-master-detail
        [enabled]="true"
        [template]="'employee-info'">
      </dxo-master-detail>
      <div *dxTemplate="let employee of 'employee-info'">
        <img class="employee-photo" [src]="employee.data.Photo">
        <p class="employee-notes">{{ employee.data.Notes }}</p>
      </div>
      <dxo-export [enabled]="true"></dxo-export> -->
    </dx-data-grid>
    <!-- <p id="selected-employee" *ngIf="selectedEmployee">
      Selected employee: {{ selectedEmployee.FullName }}
    </p> -->
  </div>